.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
}

.main {
  padding: 5rem 0;
  max-width: 1200px;
  margin: 0 auto;
  width: 95%;
  flex: 1;
}

.main_link {
  display: grid;
  row-gap: 24px;
}
