.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
}

.main {
  padding: 3rem 0;
  padding-bottom: 5rem;
  max-width: 1000px;
  margin: 0 auto;
  width: 95%;
  flex: 1;
}

.main_link {
  display: grid;
  row-gap: 24px;
}

.main_profile {
  display: grid;
  place-items: center;
  padding-bottom: 10px;
}

.main_profile > div {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.main_profile > div:focus,
.main_profile > div:focus-within,
.main_profile > div:focus-visible {
  outline: 6px solid rgba(235, 233, 254, 1);
}
.main_profile > div > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: rgba(52, 64, 84, 0.75);
  opacity: 0;
  transition: all 0.25s ease-in;
}

.main_profile > div:hover > div {
  opacity: 1;
}

.main_profile > div > div > svg {
  z-index: 2;
  margin-top: 70px;
}
.main_profile > div img {
  object-fit: contain;
}

.main_profile p:first-of-type {
  font-weight: bold;
}

.main_profile p:last-of-type {
  display: none;
}
