.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
}

.main {
  padding: 5rem 0;
  max-width: 1200px;
  margin: 0 auto;
  width: 95%;
  flex: 1;
}

.main_link {
  display: grid;
  row-gap: 24px;
}

.main_profile {
  display: grid;
  place-items: center;
  padding-bottom: 10px;
}

.main_profile > div {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: teal;
  cursor: pointer;
}
.main_profile p:first-of-type {
  font-weight: bold;
}

.main_profile p:last-of-type {
  display: none;
}
